# Activamos mod_rewrite
RewriteEngine on

#Evitamos listado de directorios
Options -Indexes
IndexIgnore *.php *.json

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php [QSA,L]