#prompt{
    height: 200px;
    overflow: scroll;
}

.floors{
    border:3px solid #fff;
    border-bottom:0px;
}

.elevator{
    border:3px solid #fff;
    background-color: indianred;
}

label{
    margin-bottom: 0rem !important;
    margin-right: 1rem;
}

.panel-btn{
    margin-right: 1rem;
}

.generate-btn{
    margin-top: 1.5rem;
}

.flex_views{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.flex_content_start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flex_content_center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_content_end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

